@using EntityLayer.Concrete
@model List<Contact2>

@foreach (var item in Model)
{
    <div class="contacts-sub-5">
    <div class="contacts-mapw3 position-relative">
        <iframe src="@item.MapLocation" style="border:0" allowfullscreen></iframe>
        <div class="map-content-5">
            <h4 class="title-w3l-adinf mb-3">Adres Bilgimiz</h4>
            <div class="address-grid">
                <i class="fas fa-map-marker-alt"></i>
                <p>@item.ShortAddress</p>
            </div>
            <div class="address-grid my-2">
                <i class="fas fa-envelope"></i>
                <p><a href="mailto:mail@example.com" class="link1">@item.Mail</a></p>

            </div>
            <div class="address-grid">
                <i class="fas fa-phone-alt"></i>
                <p><a href="tel:+12 324-016-695" class="link1">@item.Phone</a></p>
            </div>
            <div class="address-grid my-2">
                <i class="far fa-clock"></i>
                <p>@item.WorkDay: @item.WorkHour</p>
            </div>
            <div class="address-grid">
                <p>@item.Info</p>
            </div>
        </div>
    </div>
</div>

}

@*https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1563262564932!5m2!1sen!2sin*@