@using EntityLayer.Concrete
@model List<FeaturedService>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Taşımacılık Hizmetleri Listesi</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Başlık</th>
							<th>Görsel</th>
							<th>Icon</th>
							<th>Açıklama</th>
							<th>Sil</th>
							<th>Düzenle</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.FeaturedID</td>
								<td>@item.FeaturedTitle</td>
								<td>@item.FeaturedImage</td>
								<td>@item.FeaturedIcon</td>
								<td>@item.FeaturedDescription.Substring(0,25)...</td>
								<td><a href="/Member/FeaturedService/DeleteFeaturedService/@item.FeaturedID" class="btn btn-danger" style="color:white">Sil</a></td>
								<td><a href="/Member/FeaturedService/EditFeaturedService/@item.FeaturedID" class="btn btn-success" style="color:white">Düzenle</a></td>
							</tr>
						}
					</tbody>
				</table>
				<br />
				<a href="/Member/FeaturedService/AddFeaturedService/" class="btn btn-dark" style="color:white">Yeni Taşımacılık Hizmeti Ekle</a>
			</div>
		</div>
	</div>
</div>

